table {
    background-color: whitesmoke;
    margin-bottom: 2em;
    min-width: 50%;
    border-spacing: 0px;
}

table caption {
    background-color: #59ffff
}

tr {
    margin: 5px;
    border: 5px solid black !important;
}

tr.suite td {
  border-top: 0.1em solid gray;
}

table td, table caption {
    padding: 0.4em;
}

table td.status span {
  border-radius: 0.3em;
  padding: 0.4em;
}

table td.status span.status-success {
    background-color: #9dea9e
}

table td.status span.status-failed {
    background-color: #ff4a4a;

}

table tbody tr:hover td {
    background-color: rgba(132, 132, 132, 0.15);
}

.hide {
  display: none;
}

table.summary tr.total {
  font-weight: bold;
}
